<html>
<!--

                        WARNING

      This HTML file should not be edited directly.
      Please edit the Markdown source code instead;
     you'll find it in the markdown-courseware repo.

-->
<head lang="en">
    <meta charset="utf-8">
    <title>{{title}} - CS 61AS Textbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/github.css">

    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body class="textbook-body">
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../index.html" class="navbar-brand">CS 61AS</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="../textbook.html">Textbook</a></li>
                <li><a href="../syllabus.html">Syllabus</a></li>
                <li><a href="../faq.html">FAQ</a></li>
                <li><a href="../staff.html">Staff</a></li>
                <li><a href="../resources.html">Resources</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://piazza.com/class/iacyr264xcuic" target="_blank">Piazza</a></li>
                <li><a href="http://www.cs61as-quizzes.com" target="_blank">Quiz System</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-8">
        <a id="edit-link" href="{{editurl}}" target="_blank" class="hidden-xs pull-right"><small>[edit]</small></a>
        <h1>{{title}}</h1>
        <div class="textbook-text">
            {{content}}
        </div>
        <div id="footer" class="padded">
            <hr>
            Copyright 2015 CS 61AS Course Staff. Based on <i>Structure and Interpretation of Computer Programs</i> by Abelson and Sussman.
        </div>                
    </div>
    <div class="col-md-4">
        <div class="fixed" id="toc">
            <div id="toc-header">{{chaptertitle}}</div>
            <div id="toc-body">
                {{chaptertoc}}
            </div>
        </div>     
    </div>    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="../js/highlight.pack.js"></script>

<script>
var activateMCQuestions = function() {
    $('.mc').each(function(i) {
        $(this).find('ans').each(function() {
            var that = $(this);
            var radio = $('<div class="radio"><label><input type="radio" name="mc' + i + '">'
                + $(this).attr('text') + '</label></div>');
            radio.children().children().change(function() {
                if ($(this).attr('seen')) return;
                $(this).attr('seen', 'true');
                var correct = that.attr('correct') === "";
                var icon = correct ? 'ok' : 'remove';
                var expl = that.attr('explanation');
                $(this).parent().append(' <span class="glyphicon glyphicon-' + icon + '"></span><b>' + expl + '</b>');
            })
            $(this).replaceWith(radio);
        });
    });
}

var getSectionTOCItem = function() {
    var title = $($('h1')[0]).text();
    return $('#toc a').filter(function(index) {
        return $(this).text() === title;
    });
}

var setUpTOC = function() {
    var subtitles = $('h2');
    var tocItem = getSectionTOCItem().parent();
    var list = $('<ul></ul>');
    for (var i = 0; i < subtitles.length; i++) {
        var current = $(subtitles[i]);
        heading = current.text();
        $('<a class="anchor" id="sub' + i + '"></a>').insertBefore(current);
        list.append('<li><a id="toc-sub' + i + '" href="#sub' + i + '">' + heading + '</a></li>');
    }
    tocItem.append(list);
    var listener = function() {
        if ($(window).scrollTop() == 0) {
            getSectionTOCItem().css('font-weight', 'bold');
            $('[id*="toc-sub"]').css('font-weight', 'normal');
            return; 
        }
        for (var i = 0; i < subtitles.length; i++) {
            var current = $(subtitles[i]);
            var tocItem = $('#toc-sub' + i);
            if ($(window).scrollTop() > current.offset().top - 135) {
                getSectionTOCItem().css('font-weight', 'normal');
                $('[id*="toc-sub"]').css('font-weight', 'normal');
                tocItem.css('font-weight', 'bold');
            }
        }
    }
    $(window).scroll(listener);
    listener();
}

var main = function() {
    setUpTOC();
    activateMCQuestions();
}

$(main);

hljs.initHighlightingOnLoad();
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {displayMath: [['[mathjax]', '[/mathjax]']],
            inlineMath: [['[mathjaxinline]', '[/mathjaxinline]']]}
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64400510-1', 'auto');
  ga('send', 'pageview');

  $('a').click(function() {
    ga('send', 'event', 'textbook-page', 'link', $(this).html());
  });
  
</script>

</body>
</html>